body, html {
  height: 100%;
    width: 100%;
  margin: 0;
}
body{
    background-image: url("images/background.jfif");
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y;

}
.footer {
    position: -webkit-sticky;
    position: fixed;
    bottom: 0;
    background-color: white;
    text-align: center;
    width: 100%;
}
.navbar{
    border-radius: 0;
}

.navbar-brand{
    font-family: 'Satisfy',cursive;
}