{% extends 'home/base.html' %}
{% block title %}
    Test Paper
{% endblock %}
{% block head %}
    <style>
        #messages{
            color: red;
            text-align: center;
        }
    </style>
{% endblock %}
{% block body %}
    <h1>Test Paper :) </h1>
    {% for message in messages %}
        <p id="messages">{{ message }}</p>
    {% endfor %}
    <div id="form-div">
            <form method="post" action ="{% url 'test:result' pk=ques.id%}">

                &nbsp;Ques : {{ ques.question }}
                <ol class="op" type="A">
                    <li><input type="radio" name="option" value="A"> {{ ques.A }}</li>
                    <li><input type="radio" name="option" value="B"> {{ ques.B }}</li>
                    <li><input type="radio" name="option" value="C"> {{ ques.C }}</li>
                    <li><input type="radio" name="option" value="D"> {{ ques.D }}</li>
                </ol>

                <div id="submitbutton">
                    <input type=submit>
                </div>
            </form>
        </div>
 {% endblock %}
