{% extends 'home/base.html' %}
{% block title %}
    Test Paper
{% endblock %}
{% block head %}
    <style>
        #messages{
            color: red;
            text-align: center;
        }
        .float-conatiner {

            border: 3px solid #fff;
            padding: 5px;

        }
        .float-child {
            width: 50%;
            float: left;
            padding: 5px;
        }
        .card {
            margin-right: auto;
            margin-left: auto;
            margin-top: 20px;
        }
        table ,td{
            border: 3px solid green;
        }
        table {
            width:50%;
            border-collapse: collapse;
        }
        td {
            height: 50px;
            text-align: center;
            padding: 10px;
            background-color: greenyellow;
            color: red;
            font-size: xx-large;
            text-decoration-style: solid;
        }
        td.pink{
            background-color: lightpink;
        }
        #messages{
            color: red;
            text-align: center;
        }

    </style>
{% endblock %}
{% block body %}
    <div class="float-conatiner">
    <div class="float-child">

        <h1>Test Paper :) </h1>
        {% for message in messages %}
            <p id="messages">{{ message }}</p>
        {% endfor %}
        <div id="form-div">
            <form method="post" action ="{% url 'test:result' pk=ques.id%}">

                &nbsp;Ques : {{ ques.question }}
                <ol class="op" type="A">
                    <li><input type="radio" name="option" value="A"> {{ ques.A }}</li>
                    <li><input type="radio" name="option" value="B"> {{ ques.B }}</li>
                    <li><input type="radio" name="option" value="C"> {{ ques.C }}</li>
                    <li><input type="radio" name="option" value="D"> {{ ques.D }}</li>
                </ol>

                <div id="submitbutton">
                    <input type=submit>
                </div>
            </form>
        </div>
    </div>

    <div class="float-child">
        <table class="card">
        {% for row in tabledata %}
            <tr>
                {% for item in row %}
                    {% if item in marked %}
                        <td id="{{ item }}" class="pink">{{ item }}</td>
                    {% else %}
                        <td id="{{ item }}">{{ item }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    </div>
    </div>
 {% endblock %}
