{% extends 'home/base.html' %}
{% block title %}
    Questions
{% endblock %}
{% block head %}
    <style>
        #q{
            font-size: medium;
        }
        #option{
            margin-left: 40px;
        }
        #question{
            margin-left: 20px;
        }
        #noofques{
            text-align: right;
            margin-right: 25px;
            color: blue;
            font-size: medium;
        }
        #messages{
            color: red;
            text-align: center;
        }
    </style>
{% endblock %}
{% block body %}
    {% for message in messages %}
        <p id="messages">{{ message }}</p>
    {% endfor %}
    <h1 align="center" style="color: cadetblue">Added Questions </h1>
    <br>
    <p id="noofques">Total Questions : {{ total }}</p>
    <br>
    {% for ques in questions %}

        <div id="q">
        <p id="question"><b>Ques : {{ ques.question }}</b></p>
        <p id="option">A. &nbsp; {{ ques.A }}</p>
        <p id="option">B. &nbsp; {{ ques.B }}</p>
        <p id="option">C. &nbsp; {{ ques.C }}</p>
        <p id="option">D. &nbsp; {{ ques.D }}</p>
        <form method="post" action ="{% url 'test:deleteQuestion' pk=ques.id%}">    &nbsp;&nbsp;
            Click Here to Delete this question : <input type="submit" value="Delete">
        </form>
        <br/>
        <form method="post" action ="{% url 'test:updateQuestion' pk=ques.id%}">    &nbsp;&nbsp;
            Click Here to Edit this question : <input type="submit" value="Edit">
        </form>
        <br><br>
        </div>

    {% endfor %}

 {% endblock %}